@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'RobotoThin';
  font-weight: 300;
  src: url('/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'RobotoBold';
  font-weight: 700;
  src: url('/fonts/Roboto-Bold.ttf');
}

@keyframes dotBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

html {
  font-size: 16px; /** Fallback **/
  font-size: 62.5%; /** Now 1rem === 10px **/
}

body {
  font-family: 'Roboto';
  font-weight: normal;
}

body, html {
  overflow-x: hidden;
}

.bounce {
  animation: dotBounce .5s infinite;
}

.bounce.one {
  animation-delay: 0s;
}

.bounce.two {
  animation-delay: 0.1s;
}

.bounce.three {
  animation-delay: 0.2s;
}